<!doctype html>
<html>
<head>
<meta charset="utf-8">
<META HTTP-EQUIV="pragma" CONTENT="no-cache">   
<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">   
<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">   
<META HTTP-EQUIV="expires" CONTENT="0"> 
<title>SCUT跳蚤市场</title>
<link rel="stylesheet" href="../style/common.css">
<link rel="stylesheet" href="../style/index.css">
</head>

<body>
<div class="head">
  <div class="header">
    <p>华南理工大学跳蚤市场</p>         
    <ul>
      <li><a href="selfcenter.html" onclick='if(!gocenter())return false;'>个人中心</a></li>
      <li><a href="javascript:;" class="theme-regist">注 册</a></li>
      <li>|</li>
      <li><a href="javascript:;" class="theme-login">登 录</a></li>
    </ul>
  </div>
  <div class="divider"></div>
  <div class="search">
    <h1 class="logo"><span class="scut">SCUT </span>跳蚤市场</h1>
    <p>——让闲置物品发挥最大的作用</p>
    <from class="search-form">
      <input type="text" name="searchKey" id="searchkey" class="search-key" placeholder="我想要找......">
      <input type="submit" value="" class="search-btn" id="search-btn">
    </from>
  </div>
</div>
<div class="nav">
  <div class="nav-left">
    <h3>全部商品分类</h3>
    <ul class="main-ul">
      <li><a href="classification.html" onClick="classify=1;$.cookie('CLASSIFY',1)">学习办公</a>
        <p> <span><a href="subclassification.html" onClick="classify=11;$.cookie('CLASSIFY',11)">书籍</a></span><span><a href="subclassification.html" onClick="classify=12;$.cookie('CLASSIFY',12)">学习用品</a></span><span><a href="subclassification.html" onClick="classify=13;$.cookie('CLASSIFY',13)">办公用品</a></span></p>
      </li>
      <li><a href="classification.html" onClick="classify=2;$.cookie('CLASSIFY',2)">生活用品</a>
        <p> <span><a href="subclassification.html" onClick="classify=21;$.cookie('CLASSIFY',21)">日常用品</a></span><span><a href="subclassification.html" onClick="classify=22;$.cookie('CLASSIFY',22)">小家电</a></span></p>
      </li>
      <li> <a href="classification.html" onClick="classify=3;$.cookie('CLASSIFY',3)">数码产品</a>
        <p><span><a href="subclassification.html" onClick="classify=31;$.cookie('CLASSIFY',31)">手机（用品）</a></span><span><a href="subclassification.html" onClick="classify=32;$.cookie('CLASSIFY',32)">电子产品</a></span> <span><a href="subclassification.html" onClick="classify=33;$.cookie('CLASSIFY',33)">电脑（用品）</a></span> </p>
      </li>
      <li><a href="subclassification.html" onClick="classify=4;$.cookie('CLASSIFY',4)">其他物品</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li><a class="on" href="index.html">首 页</a></li>
      <li><a href="subclassification.html" onClick="classify=5;$.cookie('CLASSIFY',5)">出 售</a></li>
      <li><a href="subclassification.html"onClick="classify=6;$.cookie('CLASSIFY',6)">求 购</a></li>
      <li><a href="subclassification.html"onClick="classify=7;$.cookie('CLASSIFY',7)">出 租</a></li>
      <li><a href="subclassification.html"onClick="classify=8;$.cookie('CLASSIFY',8)">找 租</a></li>
    </ul>
  </div>
  <div class="news">
   <!-- <div class="information">
      <div class="info-up">
        <ul>
          <li style="list-style:none;"><a href="#">【帮助中心】</a></li>
          <li><a href="#">新手指南</a></li>
          <li><a href="#">SCUT跳蚤市场使用规则</a></li>
          <li><a href="#">SCUT跳蚤市场责任申明</a></li>
        </ul>
      </div>
      <div class="info-down">
        <p>【安全小贴士】</p>
        <p style="text-indent:2em;">在充分沟通、确定卖家和商品是否靠谱的基础上进行交易。SCUT跳蚤市场提供的是一个同校交流的平台，推荐买卖家确定意向后见面交易。</p>
      </div>
    </div>-->
    <div class="newest">
      <h4 id="newest-title" style="letter-spacing:3px;">最新资讯</h4>
      <img src="../public/index-intro.jpg">
      <div id="info-box">
        <ul id="col1">
          <li><span class="item-type">[出售]</span><a href="#">商品名称1</a><span class="item-time">2015-9-26</span></li>
          <li><span class="item-type">[出售]</span><a href="#">商品名称2</a><span class="item-time">2015-9-26</span></li>
          <li><span class="item-type">[出售]</span><a href="#">商品名称3</a><span class="item-time">2015-9-26</span></li>
          <li><span class="item-type">[出售]</span><a href="#">商品名称4</a><span class="item-time">2015-9-26</span></li>
          <li><span class="item-type">[出售]</span><a href="#">商品名称5</a><span class="item-time">2015-9-26</span></li>
          <li><span class="item-type">[出售]</span><a href="#">商品名称6</a><span class="item-time">2015-9-26</span></li>
          <li><span class="item-type">[出售]</span><a href="#">商品名称商品名称商品名称商品名称商品名称</a><span class="item-time">2015-9-26</span></li>
          <li><span class="item-type">[出售]</span><a href="#">商品名称7</a><span class="item-time">2015-9-26</span></li>
          <li><span class="item-type">[出售]</span><a href="#">商品名称8</a><span class="item-time">2015-9-26</span></li>
        </ul>
        <ul id="col2">
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="show">
  <div class="sub-show left">
    <div class="title">
      <h3 style="background-color:#0ca7d3">出售区</h3>
      <span>我想出售这些物品——</span></div>
    <div class="wrapper">
      <div class="good-item"><a href="#"><img src="../public/no-pictrue.png">
          <p>商品名称</p>
        </a> </div>
      <div class="good-item"><a href="#"><img src="../public/no-pictrue.png">
          <p>商品名称</p>
        </a> </div>
    </div>
  </div>
  <div class="sub-show right">
    <div class="title">
      <h3 style="background-color:#087eae">求购区</h3>
      <span>我想购买这些物品——</span></div>
    <div class="wrapper">
      <div class="good-item"><a href="#"><img src="../public/no-pictrue.png">
          <p>商品名称</p>
        </a> </div>
      <div class="good-item"><a href="#"><img src="../public/no-pictrue.png">
          <p>商品名称</p>
        </a> </div>
    </div>
  </div>
</div>
<div class="show">
  <div class="sub-show left">
    <div class="title">
      <h3 style="background-color:#00848c">出租区</h3>
      <span>我想出租这些物品——</span></div>
    <div class="wrapper">
      <div class="good-item"><a href="#"><img src="../public/no-pictrue.png">
          <p>商品名称</p>
        </a> </div>
      <div class="good-item"><a href="#"><img src="../public/no-pictrue.png">
          <p>商品名称</p>
        </a> </div>
    </div>
  </div>
  <div class="sub-show right">
    <div class="title">
      <h3  style="background-color:#044c62">找租区</h3>
      <span>我想租用这些物品——</span></div>
    <div class="wrapper">
      <div class="good-item"><a href="#"><img src="../public/no-pictrue.png">
          <p>商品名称</p>
        </a> </div>
      <div class="good-item"><a href="#"><img src="../public/no-pictrue.png">
          <p>商品名称</p>
        </a> </div>
    </div>
  </div>
</div>
<div class="footer"> Copyright&nbsp;©&nbsp;SCUTFEAL-TEAM </div>
<div class="theme-popover login">
  <div class="theme-poptit login"> <a href="javascript:;" title="关闭" class="close">×</a>
    <h3 style="font-weight:100">登录到SCUT跳蚤市场</h3>
  </div>
  <div class="theme-popbod dform">
    <form class="theme-signin" name="loginform" method="post">
      <ol style="margin-top:-15px;">
        <li><strong style="display:inline-block;width:100px;text-align:center;">邮 箱 ：</strong>
        <input id="login-email" class="ipt" type="email" name="email" placeholder="您的邮箱" size="30" />
        </li>
        <li><strong style="display:inline-block;width:100px;text-align:center;">密 码 ：</strong>
          <input id="login-psd" class="ipt" type="password" name="pwd" placeholder="请输入密码" size="30" />
        </li>
        <div><li><strong style="display:inline-block;width:100px;text-align:center;">验证码：</strong>
          <input id="log-verifycode" class="ipt verify" type="text" name="verify" placeholder="" size="8" />
          <img id="log-veri" class="veri-img" src="../control/userControl.php?getValidCode=1">
        </li></div>
        <p id="log-warning"> </p>
        <li>
          <input id="login" class="btn btn-primary" type="button" name="submit-btn" value=" 登 录 " style="width:300px;height:40px;font-size:22px;font-weight:200"/>
        </li>
      </ol>
    </form>
  </div>
</div>
<div class="theme-popover regist">
  <div class="theme-poptit regist"> <a href="javascript:;" title="关闭" class="close">×</a>
    <h3 style="font-weight:100">SCUT跳蚤市场用户注册</h3>
  </div>
  <div class="theme-popbod dform">
    <form class="theme-signin" name="loginform"  method="post">
      <ol style="margin-top:-15px;">
        <li><strong style="display:inline-block;width:100px;text-align:center;">用户名：</strong>
          <input id="regist-name" class="ipt" type="text" name="log" placeholder="您的用户名" size="30" />
        </li>
        <li><strong style="display:inline-block;width:100px;text-align:center;">邮 箱 ：</strong>
        <input id="regist-email" class="ipt" type="email" name="email" placeholder="您的邮箱" size="30" />
        </li>
        <li><strong style="display:inline-block;width:100px;text-align:center;">密 码 ：</strong>
          <input id="regist-psd" class="ipt" type="password" name="pwd" placeholder="请输入密码" size="30" />
        </li>
        <div><li><strong style="display:inline-block;width:100px;text-align:center;">验证码：</strong>
          <input id="reg-verifycode" class="ipt verify" type="text" name="verify" placeholder="" size="8" />
          <img id="reg-veri" class="veri-img" src="../control/userControl.php?getValidCode=1">
        </li></div>
        <p id="reg-warning"> </p>
        <li>
          <input id="regist" class="btn btn-primary" type="button" name="submit-btn" value=" 注 册 " style="width:300px;height:40px;font-size:22px;font-weight:200"/>
        </li>
      </ol>
    </form>
  </div>
</div>
<div class="theme-popover warn" style="width:600px;height:200px">
  <div class="theme-poptit warn"> <a href="javascript:;" title="关闭" class="close">×</a>
    <h3 style="font-weight:100;color:#C53824">提示信息</h3>
  </div>
  <p style="color:#39c;font-size:20px;text-indent:2em;padding-top:30px;padding-left:10px">发生错误，操作失败！</p>
</div>
<div class="theme-popover-mask"></div>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.js"></script> 
<script src="../script/common.js"></script>
<script src="../script/index.js"></script>
</body>
</html>
